* {
    margin:0px;
    padding:0px;
}

#wrapper {
//    border:1px solid blue;
    margin:0px auto;
    width:950px;
    position:relative;
}

#user_name {
//    border:1px solid yellow;
    background-color:green;
    display:inline-block;
    padding:40px 20px;;
    border-bottom:10px solid black;
}

#user_name p {
    font-size:30px;
}

#position {
   position: absolute;
   left:800px;
   top:70px;
}

#position p {
    font-size:30px;
}

#work_experience {
    padding:20px 10px;
}

#work_experience p {
    font-size:30px;
}

#work_experience_content {
    border-left:8px solid green;
    padding-left:20px;
    margin-top:20px;
}

ul.job_lists {
   list-style-type:none;
   float:left;
}

ul.job_detail {
   list-style-type:none;
   margin-left:80px;
   width:300px;
   height:250px;
}
li.position_title {
    font-size:20px;
}
li.position_content {
    font-size:15px;
    color:gray;
}

ul.job_lists > li {
    font-size:30px;
    height:250px;
}

li.time_btn span {
    background-color:blue;
    padding:10px 40px;
    margin-left:100px;
}

div.clear {
    clear:both;
}
